<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>polyline map</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <style>
        body { margin:0; padding:0; }
        #map { height: 100vh; }
    </style>
</head>
<body>
    {% include 'location_map/navbar.html' %}
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Create an array to store the coordinates
        var locations = [
            {% for location in locations %}
                { lat: {{ location.latitude }}, lng: {{ location.longitude }} },
            {% endfor %}
        ];

        // Add markers for the starting and ending points
        if (locations.length > 0) {
            var start = locations[0];
            var end = locations[locations.length - 1];

            L.marker([start.lat, start.lng]).addTo(map)
                .bindPopup('Start Point')
                .openPopup();

            L.marker([end.lat, end.lng]).addTo(map)
                .bindPopup('End Point')
                .openPopup();
        }

        // Add markers for all locations
        locations.forEach(function(loc, index) {
            L.marker([loc.lat, loc.lng]).addTo(map)
                .bindPopup('Location ' + (index + 1));
        });

        // Add polyline between all points
        if (locations.length > 1) {
            var latlngs = locations.map(loc => [loc.lat, loc.lng]);
            L.polyline(latlngs, {color: 'blue'}).addTo(map);
        }

        // Fit the map bounds to include all markers
        if (locations.length > 0) {
            var bounds = L.latLngBounds(locations.map(loc => [loc.lat, loc.lng]));
            map.fitBounds(bounds);
        }
    </script>
</body>
</html>
