<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Map to find route</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
    integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
    crossorigin=""></script>

  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>
  
  <style>
    body { margin:0; padding:0; }
    #map { position: absolute; top:0; bottom:0; right:0; left:0; }
  </style>
</head>
<body>
<div id="map"></div>
<script>
  var map = L.map('map').setView([11, 79], 10);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var locations = JSON.parse('{{ locations|escapejs }}');
  
  locations.forEach(function(location) {
    L.marker([location.latitude, location.longitude]).addTo(map)
      .bindPopup(location.name);
  });

  var selectedLocations = [];
  map.on('click', function(e) {
    if (selectedLocations.length < 3) {
      selectedLocations.push(e.latlng);
      L.marker(e.latlng).addTo(map).bindPopup('Selected Point').openPopup();
    }
    if (selectedLocations.length === 2) {
      const route_url = "{% url 'showroute' 'LAT1' 'LON1' 'LAT2' 'LON2' %}"
        .replace('LAT1', selectedLocations[0].lat)
        .replace('LON1', selectedLocations[0].lng)
        .replace('LAT2', selectedLocations[1].lat)
        .replace('LON2', selectedLocations[1].lng);
      window.location.replace(route_url);
    }
  });
</script>
</body>
</html>
